[Unit]
Description=Folden Service

[Service]
ExecStart=/usr/sbin/foldend run --config /etc/foldend/foldend_config.toml

[Install]
WantedBy=multi-user.target