[Unit]
Description=Folden Service

[Service]
ExecStart=/usr/sbin/foldend --config /etc/foldend/foldend_config.toml run

[Install]
WantedBy=multi-user.target